@model Fruitkha.Core.Helpers.Mails.ViewModels.UserToken

@{
    Layout = "_MailLayout";
    ViewData["ClientUrl"] = Model.Uri;
    ViewData["UserName"] = Model.UserName;
}

<table align="center" style="word-break: break-all;">
    <tr>
        <td align="center">
            <h1>That's your reset password code:</h1>
            <h3> @Model.Token</h3>
        </td>
    </tr>
</table>
