@model Fruitkha.Core.Helpers.Mails.ViewModels.UserToken

@{
    Layout = "_MailLayout";
    ViewData["ClientUrl"] = Model.Uri;
}

<table align="center">
    <tr>
        <td>
            <h1>That's your two factor code:</h1>
        </td>
        <td align="right">
            <h1 style="color: dodgerblue;">@Model.Token</h1>
        </td>
    </tr>
</table>
